<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si la petición es a index.html, no hacemos nada
  RewriteRule ^index\.html$ - [L]

  # Si no es un archivo o carpeta físico, redirige a index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
